name: Publish

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 17.9.0
          token: ${{ github.token }}
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      
      # Test
      - run: npm run test
      - name: Code coverage
        uses: codecov/codecov-action@v3

      # CI
      - name: Version bump
        uses: phips28/gh-action-bump-version@v9.0.16
        with:
          target-branch: master
          commit-message: auto version bump

      # Build
      - run: npm run build
      
      # Publish
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
